html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* color: green; */
}

a {
    /* color: black; */
    color: inherit;
}

button {
    border: 1px rgb(37, 37, 37) solid;
    border-radius: 3px;
    /* padding: 2px 4px; */
}

.light-theme {
    color: black;
    background-color: white;
}

.dark-theme {
    color: #f0f1f2;
    background-color: black;
}

.green-theme {
    color: #f0ecda;
    background-color: #128028;
}

.blue-theme {
    color: #dde6f0;
    background-color: #3874b0;
}



div {
    /* border: 1px solid black; */
}

body {
    height: 100vh;
    /* padding-left: 40px; */
    padding-top: 40px;
}

h1 {
    margin-top: 0px;
    margin-left: -16px;
    font-size: 36   px;
}

.page {
    height: 99.8%;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    /* border: 3px; */
    /* margin: auto; */
    /* min-width: 10px; */
}

.sub-page {
    height: 99.8%;
    padding: 0px 40px;
    /* padding-left: 40px; */
    padding-top: 20;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-content: center; */
    max-width: 1000px;
    margin: auto;
}

.page-text {
    margin-bottom: 16px;
}

.list-content {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 80px;
    flex-wrap: wrap;
    /* gap: 1000px; */
    margin-bottom: 16px;
}

.gallery a {
    text-decoration: none; 
    display: block;
    height: 230px;
}

.gallery-card:hover {
    opacity: 0.6;
}

.gallery-image:hover + .card-text {
    visibility: visible;
}

.card-text {
    visibility: hidden; 
    position: relative;
    width: fit-content;
    margin: auto;
    top: -150px;
    color: black;
    font-size: 18px;
    background: white;
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 3px;
}

.homepage-blurb {
    /* padding-left: 40px;
    padding-top: 40px; */
    margin: auto;
    margin-top: 10%;
}

.footer {
    padding-bottom: 12px;
    /* color:#454443; */
    color: inherit;
    margin: auto;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.gallery {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.gallery-image {
    border: 3px black solid;
}

h4 {
    /* padding: 0px; */
    margin: 0px;
}